# fly.toml app configuration file generated for spin-master on 2025-12-28T21:22:19-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'spin-master'
primary_region = 'sjc'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[services]]
  http_checks = []
  internal_port = 3000
  processes = ["app"]
  protocol = "tcp"
  script_checks = []

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
